@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');

   /*========================================HEADER=====================================================================================*/

   body {
    background: #e1e5e8;
}

   .categoryForm-div{
     margin-top: 50px;
   }

   #main-logo {
    width:100px;
position:absolute;
top: -21px;
z-index: 1;
}

.header-bar {
    background: rgb(0, 0, 0);
	position: absolute;
    width: 98.9%;
	min-width: 300px;
	height: 60px;
	border: 10px solid transparent;
	border-top: 10px solid #fffa;
	border-left: 10px solid #fffa;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}

.header-bar::after {
	content: '';
	/* position: absolute; */
	top: -10px;
	right: -10px;
	width: 30%;
	height: 49px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fffa;
	border-right: 10px solid #fffa;
	transition: 0.3s linear all;
}

.header-bar > .logo {
	position: absolute;
	top: calc(50% - 0px);
	left: 10px;
	transform: translateY(-50%);
	color: #fffc;
	font-family: 'Parisienne', cursive;
    font-size: 20px;
	cursor: default;
	user-select: none;
}

.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu > li {
	display: inline-flex;
	padding: 14px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}
.slider-menu  li > a {
    color: white;
    font-size: 24px;
text-decoration: none;
}
.slider-menu > li:hover {
	color: #faa;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}


.banner {
    line-height: 2;
    height: 80px;
    background-size: cover;
    background-position: top;
    position: relative;
    /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
    background-color: #133558;
    box-shadow: 2px 2px 2px 2px #918773;
}


.text-box {
  	position: absolute;
  	top: 50%;
  	left: 13%;
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.heading-primary {
  	color: #fff;
  	text-transform: uppercase;

  	backface-visibility: hidden;
  	margin-bottom: 30px;
}

.heading-primary-main {
  	display: block;
  	font-size: 32px;
  	font-weight: 400;
  	letter-spacing: 7px;
}

.heading-primary-sub {
  	display: block;
  	font-size: 18px;
  	font-weight: 700;
  	letter-spacing: 7.4px;
}

.text-box a {
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    background: white;
    color: #133558;
    padding: 20px 14px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgb(84 84 84 / 86%);

}

.text-box a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .text-box a span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .text-box a:hover span {
    padding-right: 25px;
  }
  
  .text-box a:hover span:after {
    opacity: 1;
    right: 0;
  }

   /*==================FOOTER===========================================================================================================*/

footer p, footer strong, footer b, footer {
    color: #b0b0b0;
}

.footer-top {
    background: #303030;
    background-size: cover;
    background-position: center;
    padding: 0 0 20px;
  padding-top:30px;
  font-family: 'Quicksand', sans-serif;

}

.footer-top, .footer-bottom {
    background-color: #1c1f2f;
}

.footer-bottom {
  margin-top: 50px;
    padding: 15px 0;
    border-top: 1px solid #313646;
    background-color: #133558;
    color: #b0b0b0;
    font-family: 'Quicksand', sans-serif;
    

}


.footer-site-info {
    font-size: 92.86%;
}
#footer-navigation, #footer-navigation li a:hover, .custom-footer, .custom-footer li a:hover {
    color: white;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

.footer-bottom ul {
    margin: 0;
}
.inline-inside {
    font-size: 0;
    line-height: 0;
}
.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}
#footer-menu li {
    display: inline-block;
    padding: 0 21px;
    position: relative;
    line-height: 1;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}
#footer-menu li+li:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0;
    font-size: 0;
    border-left: 1px solid #232234;
    border-right: 1px solid #333146;
}


navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

#footer-socials {
    text-align: right;
}

#footer-socials .socials {
    text-align: right;
    /* margin: 0 0px; */
    display: inline-block;
    vertical-align: middle;
}

a.socials-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 5px;
    line-height: 16px;
    padding: 10px;
    border-radius: 50%;
    background-color: #141421;
    border: 1px solid #2e2e4c;
    box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
}

.socials-item i {
    display: inline-block;
    font-weight: normal;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}

.facebook {
    color: #4e64b5;
}

.twitter {
    color: #00aced;
}
.instagram {
    color: #9a8f62;
}
.youtube {
    color: #c82929;
}

.telegram {
    color: #2ca5e0;
}


a.socials-item:hover {
    box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
    border-color: rgba(255, 6, 224, 0.61);
    background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
}

.footer-bottom a:hover {
    color: white;
}



textarea {
    overflow: auto;
    resize: vertical;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}


.footer-site-info
{
    padding-top: 10px;
    padding-left: 10px;
}

.col-md-6 {
    margin: auto;
}

.col-md-6 nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-md-6 nav ul li a {
    text-decoration: none;
    font-size: 20px;

}

.col-md-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.footer-site-info {
font-size: 20px;
}

 /*=============================================================================================================================*/

.profileContentRow {
  
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin-left: 70px;
  margin-top: 50px;
  min-width: 230px;

  max-width: 570px;
  width: 100%;
  color: #0c0c0c;
  text-align: left;
  line-height: 1.4em;
  background-color: #c199a2;

  display: inline-block;
  height:680px ;
  border-radius: 20px;

 
}
  .cover{
    padding: 20px;
    opacity: .3;
  }
  

  .profileContentRow * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    
  }
  
  .profileContentRow img {
    max-width: 100%;
    vertical-align: top;
    opacity: 0.85;
  }
 
  .profileMainContainer{
    width: 100%;
    /* background-color: #141414; */
    padding: 25px;
    position: relative;
    /* background-color: #a6adaf; */
    background-color: #c199a2;
   }

   

     .profileMainContainer:before {
      position: absolute;
      content: '';
      bottom: 100%;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 100px 0 0px 700px;
      border-color: transparent transparent transparent #c199a2;

    }
 


    .profileContentRow .profileImg{
      height: 200px;
    width: 150px;
      border-radius: 50%;
      position: absolute;
      bottom: 100%;
      left: 25px;
      z-index: 1;
      max-width: 150px;
      opacity: 1;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      margin-top: -140px;
    }
    .profileContentRow h4{margin: 0 0 5px;
      font-weight: 300;
      font-size: 22px;}

      .profileContentRow p{margin: -17px 0 10px;
        font-size: 0.8em;
        letter-spacing: 1px;
        opacity: 0.8;
        max-height:200px ;
        max-width: 300px;
        overflow-y: scroll;
        padding-left: 50px;
        float: right;
        
      }


      .blogCatAndBlogger {display: inline-block;
        float: left;
      }

     

  /* .profileContentRow .profileMainContainer{width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;}. */


  /* .title {
    color: grey;
    font-size: 18px;
  }
   */
  
 

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
select::-ms-expand {
  display: none;
}
/* Custom Select */
#categoryForm {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
  margin: auto;

}
select {
  flex: 1;
  padding: 0 .5em;
  color: #e1e5e8;
  cursor: pointer;
}
/* Arrow */
label{
  color: #e1e5e8;
  padding: 0 10px;
}

#categoryForm::after {
  content: 'FILTER';
  color: #e1e5e8;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
#categoryForm:hover::after {
  color: #c199a2;;

}


